/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */

.container {
  min-height: 500px;
  max-width: 1100px;
  margin-top: 30px;
  overflow: hidden;
  background-color: #3697eb;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.66);
  padding: 0;
}
.header {
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 500px;
}
.chat-sidebar {
  background: #fff;
  color: #000;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
}
.hr-1 {
  padding: 0;
  height: 1px;
  max-width: 100%;
  color: red;
}

.chat-sidebar h2 {
  font-size: 20px;
  padding: 10px;
  margin: auto;
  font-size: 2rem;
  font-weight: 600;
}

.chat-sidebar ul li {
  padding: 5px 0;
}
.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
  background: url("https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25");
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(236, 233, 233);
  border-radius: 5px;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.66);
  max-width: 600px;
}
.left {
  float: left;
  background-color: #2c90e7;
}
.right {
  float: right;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: rgb(3, 146, 115);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .metasend {
  font-size: 15px;
  font-weight: bold;
  color: rgb(3, 146, 115);
  opacity: 0.7;
  margin-bottom: 7px;
  float: right;
}

.chat-messages .message .meta span {
  color: rgb(7, 7, 7);
}
.chat-form-container {
  padding: 20px 30px;
}

.chat-form-container form {
  display: flex;
}

#users {
  list-style: none;
  padding-top: 10px;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  padding: 5px 25px;
  background: #fff;
  color: #000;
  border: 0;
  font-size: 17px;
}
.btn:hover {
  background-color: #2c90e7;
  color: white;
  transition: 200ms ease-in-out;
}

.avatar {
  border-radius: 50%;
  width: 40px;
}

.user {
  display: flex;
}

.username {
  margin: auto;
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send {
  font-size: 20px;
}

.container {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div::-webkit-scrollbar {
  width: 12px;
}

/* /* Track / */
div::-webkit-scrollbar-track {
  background: #fafafa;
  box-shadow: inset 0 0 2.5px grey;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background: #466a94;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #243b55;
}
