<div class="container" id="container">
  <div class="cotainer-color">
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Forget Your Password</h1>
        <input type="email" placeholder="Email" />
        <input
          class="vs otpbutton"
          onclick="this.style.visibility= 'hidden';"
          value="OTP"
          type="button"
        />
        <input type="otp" placeholder="OTP" />
        <button class="otpbutton">Submit</button>
        <a href="" class="back" ng-click="value = 1" routerLink="/"
          >Back to Login/Signup</a
        >
      </form>
    </div>
  </div>
</div>
